
@import url(/fonts/Gabriola.ttf);

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightskyblue;
  background-image: linear-gradient(to bottom, rgb(179, 236, 255), rgb(0, 134, 230));
  overflow: auto;
}

.font {
  font-family: Gabriola, Times, serif !important;
  font-size: 1em;
}

/*  index Jumbotron  */
.jumbotron {
  background-color: lightskyblue;
  box-shadow: 0 5px 5px 0;
  border-radius: 0 0 10px 10px !important;
  height: 700px;
  animation: jumbotron-animation 20s infinite;
  -webkit-animation: jumbotron-animation 20s infinite;    /*  safari compatibility */
  -moz-animation:    jumbotron-animation 20s infinite;    /*  firefox compatibility */
  -o-animation:      jumbotron-animation 20s infinite;    /*  opera compatibility */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes jumbotron-animation {
  0%  {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); opacity: 1.0;}
  10%  {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); }
  25% {background-image: url('/assets/jumbotron/calgary.jfif'); transform:scale(1);}
  40% {background-image: url('/assets/jumbotron/sanfransisco.jfif'); transform:scale(1);}
  60% {background-image: url('/assets/jumbotron/london.jfif'); transform:scale(1);}
  80% {background-image: url('/assets/jumbotron/losAngeles.jfif'); transform:scale(1);}
  95% {background-image: url('/assets/jumbotron/cleveland.jfif'); transform:scale(1);}
  100% {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); }
}


.jumbotron .container-fluid {
  width: 100%;
  margin: 2%;
  padding: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: lightskyblue;
  opacity: 0.8;
}

.jumbotron p {
  font-size: 25px;
  font-weight: 600;
}

/* --------------------------------------------------------------------------------- */
/* ---------------------------  nav bar  ------------------------------------------- */
/* --------------------------------------------------------------------------------- */

/* header navabar logo image  */
.img-fluid {
  max-width: 300px;
  max-height: 40px;
  margin-bottom: 5px;
}

nav {
  box-shadow: 0 5px 5px 0;
  background-color: rgb(211, 230, 243);
  color: rgb(105, 4, 4) !important;
  border-radius: 0 !important;
  transition: 0.4s ease;
  animation: nav-footer-icon-animation 1.2s 1;
} 

nav:hover {
  padding: 10px;
}

.sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
}


.dropdown {
  position: relative;
  float: left;
}

.nav-menu-hover {
  display: none;
  box-shadow: 5px 5px 5px 0px;
  position: absolute;
  background-color: rgb(211, 230, 243);
  transition: 0.1s ease-in;
  text-align: left;
  width: 120px;
  overflow: hidden;
}

.nav-link {color: rgb(150, 3, 33) !important;}

.nav-menu-hover .nav-link:hover {
  color: black !important;
  padding: 4px 35px 4px 20px;
}

.dropdown:hover .nav-menu-hover {
  display: block;
  top: 55px;
  left: 5px;
} 

.navbar-right{
  float: right;
}



nav a:link, a:visited, a:active {
  text-decoration: none;
}

.active {padding: 17px 15px;}

.active:hover, nav .nav-link:hover {
  padding: 21px 15px;
}

nav a:after {transition: 0.9s ease;}

nav a {
  text-decoration: none;
  font-size: 3em;
  color: rgb(240, 234, 234) !important;
  transition: 0.5s ease;
}


.nav-link {
  margin: 10px;
  align-content: center;
  position: relative;
  display: inline;
}

.navbar-nav>li>a {
  line-height: inherit;
  align-items: center;
}

.navbar-nav {
  text-align: center;
  margin: 0 auto;
}

.navbar-right {
  float: right !important;
  right: 0 !important;
  position: absolute;
  padding-right: 10px;
}

.icon-bar {
  border: 1px solid black !important;
}


/* --------------------------------------------------------------------------------- */
/* -----------------------------  body  -------------------------------------------- */
/* --------------------------------------------------------------------------------- */

/* container for main page contents */

.breadcrumb {
  font-size: 2.5em;
  padding: 0 !important;
  background-color:inherit;
}

.breadcrumb-item {
  padding: 0 !important;
  color: rgb(95, 3, 3) !important;
} 

.contents {
  box-shadow: 0 5px 5px 0;
  margin-bottom: 2%;
  background-color: rgb(146, 199, 241, 0.9);
  padding: 5% 4% 4% 4%;
}


/* header image in all the Bliss Mag pages  */
.header-img img {
  width: 100%;
  max-height: 400px;
}

/* header image caption in all the Bliss Mag pages  */
figcaption {font-size: 1.7em !important;}

/* all h1 tags */
.contents h1 {text-align: center; padding: 3% 1% 1% 1%; font-size: 3.5em; font-weight: 600;}


/* all p-tag  paragraphs */
.para {
  text-align: left;
  font-size: 2.5em;
}

/* first letter of all para classes are styled with a bigger font size */
.para::first-letter {
  font-size: 1.5em;
}

/* article tags */
article {
  border-left: 4px solid black;
  background-color: rgb(95, 158, 160, 0.90);
  width: 90%;
  right: 5%;
  left: 5%;
  margin-left: 5%;
}

/* h2 within <article> */
article h2 {
  padding:  2% 0% 0 5%; 
  font-size: 2.4em !important;
  font-weight: 600;
}

/*  <p> within article */
.description-para {
  text-align: justify; 
  font-size: 2.2em;
  padding: 0 5%;
}

/* each section tags */
section {padding-top: 0 !important;}



/* --------------------------------------------------------------------------------- */
/* ---------------------------  footer  -------------------------------------------- */
/* --------------------------------------------------------------------------------- */

footer {
  box-shadow: 0 5px 5px 0;
  background-color: rgba(217, 220, 226, 0.85);
  border-radius: 0;
  margin-bottom: 3%;
  text-align: center;
  height: 100%;
}

.footer-grid-container {
  display: grid;
  grid-template-areas: 
    'footer-logo footer-logo footer-logo'
    'footer-contact footer-links footer-social-media'
    'footer-copyright footer-copyright footer-copyright';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  font-size: 23px !important;
  margin: 0 auto;
  align-content: center;
  padding: 2% 8%;
  width: 90%;
}

.footer-logo {
  grid-area: footer-logo; 
  margin-bottom: 3%;
  position: abolute;
}

.footer-contact {
  grid-area: footer-contact; 
  text-align: left;
  line-height: 110%;
}

.footer-links {
  grid-area: footer-links;
  text-decoration: none;
  line-height: 100%;
}

.footer-links a::before {
  color: darkred !important;
}

.footer-social-media {
  grid-area: footer-social-media; 
  display: block;
  height: 100%;
}

.footer-copyright {
  grid-area: footer-copyright; 
  padding-top: 4%;
}

.footer-icon {
  border-radius: 5%;
  width: 45px;
  height: 45px;
  padding-top: 12px;
  margin: 5px;
  text-decoration: none !important;
  color: white;
  text-align: center;
}

.footer-icon:hover {
  animation: nav-footer-icon-animation 2s 1; 
  color: white;
}

@keyframes nav-footer-icon-animation { 
  0% {transform: scale(1.0);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1.0);}
}

.fa-facebook {background-color: rgb(66, 103, 178);}
.fa-twitter {background-color: rgb(29, 161, 242);}
.fa-linkedin {background-color: rgb(29, 161, 242);}
.fa-youtube {background-color: rgb(255,0,0);}
.fa-instagram {background-color: rgb(131,58,180);}
.fa-pinterest {background-color: rgb(189,8,28);}
.fa-tumblr {background-color: rgb(53, 70, 92);}




@media only screen and (max-width: 767px)  {

  .container {
    margin-top: 1% ;
    margin-bottom: 3%;
  }

  nav {
    position: sticky;
  }

  .collapse {
    overflow: hidden;
    margin: 0 0 auto 0;
    width: 100% !important;
  }

  .collapse a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .collapse:not(.show) {
    display: inline;
    overflow: hidden;
  }

  .navbar-nav .nav-link {
    padding-left: 10%;
  }

  .dropdown {float: none;}

  .img-fluid {
    max-width: 80%;
  }

  ul.navbar-right {display: none;}

  .nav-menu-hover {
    position: relative;
    /* display: inline-block; */
  }

  .navbar-right {
    /* float: right !important;
    right: 0 !important; */
    position: absolute;
  }


  ul.navbar-right {
    display: inline;
  }

  .jumbotron {
    border-radius: 0px !important;
  }

  .footer-grid-container {
    display: block;
  }

  .footer-contact, .footer-links, .footer-social-media, .footer-copyright {
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
  }

  .home-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  section {padding-top: 15% !important;}
}
