
html {
  scroll-behavior: smooth;
}

body {
  background-color: lightskyblue;
  background-image: linear-gradient(to bottom, rgb(179, 236, 255), rgb(0, 134, 230));
  height: 1800px;
  overflow: auto;
}

.font {
  font-family: Gabriola, Times, serif;
  font-size: 1em !important;
}

/*  index Jumbotron  */
.jumbotron {
  background-color: lightskyblue;
  box-shadow: 0 5px 5px 0;
  border-radius: 0 0 10px 10px !important;
  height: 700px;
  animation: animation 20s infinite;
  -webkit-animation: animation 20s infinite;    /*  safari compatibility */
  -moz-animation:    animation 20s infinite;    /*  firefox compatibility */
  -o-animation:      animation 20s infinite;    /*  opera compatibility */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animation {
  0%  {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); opacity: 1.0;}
  10%  {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); }
  25% {background-image: url('/assets/jumbotron/calgary.jfif'); transform:scale(1);}
  40% {background-image: url('/assets/jumbotron/sanfransisco.jfif'); transform:scale(1);}
  60% {background-image: url('/assets/jumbotron/london.jfif'); transform:scale(1);}
  80% {background-image: url('/assets/jumbotron/losAngeles.jfif'); transform:scale(1);}
  95% {background-image: url('/assets/jumbotron/cleveland.jfif'); transform:scale(1);}
  100% {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); }
}


.jumbotron .container-fluid {
  width: 100%;
  margin: 2%;
  padding: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: lightskyblue;
  opacity: 0.8;
}

.jumbotron p {
  font-size: 25px;
  font-weight: 700 !important;
}

/* --------------------------------------------------------------------------------- */
/* ---------------------------  nav bar  ------------------------------------------- */
/* --------------------------------------------------------------------------------- */

/* header navabar logo image  */
.img-fluid {
  max-width: 300px;
  max-height: 40px;
  margin-bottom: 10px;
}

nav {
  box-shadow: 0 5px 5px 0;
  background-color: lightskyblue;
  border-radius: 0 !important;
} 

.sticky {
  position: fixed !important;
  top: 0 !important;
}


.dropdown {
  position: relative;
  float: left;
}

.nav-menu-hover {
  display: none;
  box-shadow: 5px 5px 5px 0px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  background-color: lightskyblue;
  transition: 0.5s;
}

.navbar-right{
  float: right;
}


.dropdown:hover .nav-menu-hover {
  display: inline;
  top: 30px;
  left: -15px
} 

nav a:link, a:visited, a:active {
  text-decoration: none;
}

nav a:hover {
  color: black !important;
  text-shadow: 10px 5px 40px rgb(0, 0, 0);
}

/* nav a:after {transition: 0.9s;} */

nav a {
  text-decoration: none;
  font-size: 3em;
  color: darkred !important;
  transition: 0.5s;
}


.nav-link {
  margin: 10px;
  padding: 10px;
  align-content: center;
  position: relative;
  display: inline;
}

.navbar-nav>li>a {
  line-height: inherit;
  align-items: center;
}

.navbar-nav {
  text-align: center;
  margin: 0 auto;
}

.navbar-right {
  float: right !important;
  right: 0 !important;
  position: absolute;
  padding-right: 10px;
}

.icon-bar {
  border: 1px solid black !important;
}


/* --------------------------------------------------------------------------------- */
/* ---------------------------  footer  -------------------------------------------- */
/* --------------------------------------------------------------------------------- */

footer {
  box-shadow: 0 5px 5px 0;
  background-color: rgba(217, 220, 226, 0.85);
  border-radius: 0;
  margin-bottom: 3%;
  text-align: center;
}

.footer-grid-container {
  display: grid;
  grid-template-areas: 
    'footer-logo footer-logo footer-logo'
    'footer-contact footer-links footer-social-media'
    'footer-copyright footer-copyright footer-copyright';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-size: 20px !important;
  margin: 0 auto;
  align-content: center;
  padding: 2% 8%;
  position: relative;
}

.footer-logo {
  grid-area: footer-logo; 
  margin-bottom: 3%;
  position: abolute;
}

.footer-contact {
  grid-area: footer-contact; 
  text-align: left;
  line-height: 110%;
}

.footer-links {
  grid-area: footer-links;
  text-decoration: none;
  line-height: 100%;
}

.footer-links a::before {
  color: darkred !important;
}

.footer-social-media {
  grid-area: footer-social-media; 
  display: block;
  max-width: 80%;
}

.footer-copyright {
  grid-area: footer-copyright; 
  padding-top: 4%;
}

.footer-icon {
  border-radius: 5%;
  width: 45px;
  height: 45px;
  padding-top: 12px;
  margin: 5px;
  text-decoration: none !important;
  color: white;
  text-align: center;
}

.footer-icon:hover {animation: icon-animation 2s 1; color: white;}

@keyframes icon-animation { 
  0% {transform: scale(1.0);}
  100% {transform: scale(1.25);}
}

.fa-facebook {background-color: rgb(66, 103, 178);}
.fa-twitter {background-color: rgb(29, 161, 242);}
.fa-linkedin {background-color: rgb(29, 161, 242);}
.fa-youtube {background-color: rgb(255,0,0);}
.fa-instagram {background-color: rgb(131,58,180);}
.fa-pinterest {background-color: rgb(189,8,28);}
.fa-tumblr {background-color: rgb(53, 70, 92);}



@media only screen and (max-width: 767px)  {

  .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  nav {
    position: sticky;
    overflow: auto;
  }

  .collapse {
    overflow: hidden;
    margin: 0 0 auto 0;
    width: 100% !important;
  }

  .collapse a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .collapse:not(.show) {
    display: inline;
    overflow: hidden;
  }

  .navbar-nav .nav-link {
    padding-left: 10%;
  }

  .dropdown {float: none;}

  .img-fluid {
    max-width: 80%;
  }

  ul.navbar-right {display: none;}

  .nav-menu-hover {
    position: relative;
    /* display: inline-block; */
  }

  .navbar-right {
    /* float: right !important;
    right: 0 !important; */
    position: absolute;
  }


  ul.navbar-right {
    display: inline;
  }

  .jumbotron {
    border-radius: 0px !important;
  }

  .footer-grid-container {
    display: block;
  }

  .footer-contact, .footer-links, .footer-social-media, .footer-copyright {
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
  }
}
