
html {
  scroll-behavior: smooth;
}

body {
  background-color: lightskyblue;
  background-image: linear-gradient(to bottom, rgb(179, 236, 255), rgb(0, 134, 230));
  height: 1800px;
  overflow: auto;
}

.font {
  font-family: Gabriola, Times, serif;
}

.jumbotron {
  background-color: lightskyblue;
  box-shadow: 0 5px 5px 0;
  border-radius: 0 0 10px 10px !important;
  height: 700px;
  animation: animation 20s infinite;
  -webkit-animation: animation 10s infinite;
  -moz-animation:    animation 10s infinite;
  -o-animation:      animation 10s infinite;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animation {
  0%  {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); opacity: 1.0;}
  10%  {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); }
  25% {background-image: url('/assets/jumbotron/calgary.jfif'); transform:scale(1);}
  40% {background-image: url('/assets/jumbotron/sanfransisco.jfif'); transform:scale(1);}
  60% {background-image: url('/assets/jumbotron/london.jfif'); transform:scale(1);}
  80% {background-image: url('/assets/jumbotron/losAngeles.jfif'); transform:scale(1);}
  95% {background-image: url('/assets/jumbotron/cleveland.jfif'); transform:scale(1);}
  100% {background-image: url('/assets/jumbotron/bristol.jfif'); transform:scale(1); }
}


.jumbotron .container-fluid {
  width: 100%;
  margin: 2%;
  padding: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: lightskyblue;
  opacity: 0.8;
}

.jumbotron p {
  font-size: 25px;
  font-weight: 700 !important;
}


/* header navabar logo image  */
.img-fluid {
  max-width: 300px;
  max-height: 40px;
  margin-bottom: 10px;
}

nav {
  box-shadow: 0 5px 5px 0;
  background-color: lightskyblue;
  border-radius: 0 !important;
} 

.sticky {
  position: fixed !important;
  top: 0 !important;
}


.dropdown {
  position: relative;
  float: left;
}

.nav-menu-hover {
  display: none;
  box-shadow: 5px 5px 5px 0px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  background-color: lightskyblue;
}

.navbar-right{
  float: right;
}


.dropdown:hover .nav-menu-hover {
  transition: 0.9s;
  display: inline;
  top: 30px;
  left: -15px
} 






a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  color: black !important;
  text-decoration: underline !important;
  letter-spacing: 1px;
  transition: 0.9s;
}

a:after {transition: 0.9s;}

a {
  text-decoration: none;
  /* white-space: normal; cursor: pointer;  */
  font-size: 3em;
  color: darkred !important;
}


.nav-link {
  margin-right: 20px;
  align-content: center;
  position: relative;
}

.navbar-right {
  float: right !important;
  right: 0 !important;
  position: absolute;
  padding-right: 10px;
}

.icon-bar {
  border: 1px solid black !important;
}


@media screen and (max-width: 767px)  {

  .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  nav {
    position: sticky;
    overflow: auto;
  }

  .collapse {
    overflow: hidden;
    margin: 0 0 auto 0;
    width: 100% !important;
  }

  .collapse a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .collapse:not(.show) {
    display: inline;
    overflow: hidden;
  }

  .navbar-nav .nav-link {
    padding-left: 10%;
  }

  .dropdown {float: none;}

  .img-fluid {
    max-width: 80%;
  }

  ul.navbar-right {display: none;}

  .nav-menu-hover {
    position: relative;
    /* display: inline-block; */
  }

  .navbar-right {
    /* float: right !important;
    right: 0 !important; */
    position: absolute;
  }


  ul.navbar-right {
    display: inline;
}

}
